data
*.DS_Store
paper/*.aux
paper/*.log
paper/*.fdb_latexmk
paper/*.synctex.gz
paper/*.fls
paper/*.out
paper/*.bbl
paper/*.blg

__pycache__/*
*.pyc
*.ipynb_checkpoints/*

experiment/stimuli
experiment/__MACOSX